@import "../../../common/css/util";
body {
  user-select: text;
}
.fiexAuto {
  position: fixed;
  left:0;
  right:0;
  margin:auto;
  width:100%;
}
.app {
  background: #fafafa;

  /* 安卓hack */
  &.android {

  }
  .first-type {
    width:100%;
    height:100%;
    background: #fff;
    overflow: hidden;
    margin-bottom: 15px;
    border-radius:0 0 r(8) r(8);
  }
  .content-box {
    .share-btn{
      float: right;
      padding:10px 0 23px;
      .download-icon {
        display: inline-block;
        //padding-left:r(20);
        margin-right:r(25);
        color: #7D7D7D;
        vertical-align: middle;
        i {
          display: inline-block;
          width: r(14);
          height:r(14);
          background: url(//9i.dvmama.com/free/2018/05/09/download_icon.png) no-repeat right center;
          background-size: r(14) r(14);
          vertical-align: middle;
          margin-right: 4px;
        }
      }
      .share-icon {
        display: inline-block;
        color: #7D7D7D;
        vertical-align: middle;
        line-height: r(18);
        i {
          display: inline-block;
          width: r(14);
          height:r(14);
          background: url(//9i.dvmama.com/free/2018/05/09/share_material_icon.png) no-repeat right center;
          background-size: r(14) r(14);
          vertical-align: middle;
          margin-right: 4px;
        }
      }
    }
    .share-btn-type {
      padding: 20px 35px;
    }

    .synthetic-picture {
      width:r(345);
      height:r(453);
      margin:16px auto 0;
      box-shadow: 0px 0px 20px 8px #F4F4F4;
      border-radius: r(8);
      img {
        display: block;
        width:100%;
        height:100%;
        max-width: 100%;
        border-radius: r(8);
        object-fit:cover;
      }
    }
    .vidio-box-list {
      width:100%;
      .container-wapper {
        width:100%;
        .container{
          padding:0 35px 0;
          background: #fff;
          border-radius: r(8);
          margin-bottom: 15px;
          overflow: hidden;
          p {
            font-size: r(14);
            color: #333333;
            line-height: r(20);
            padding-top: r(25);
            margin-bottom: 20px;
            //overflow : hidden;
            //text-overflow: ellipsis;
            //display: -webkit-box;
            //-webkit-line-clamp: 6;
            //-webkit-box-orient: vertical;
          }
          .more-pic-box {
            display: flex;
            //justify-content: flex-start;
            //justify-content: space-between;
            flex-wrap:wrap;
            .more-pic-type {
              position: relative;
              width:32%;
              margin-right:2%;
              //width:r(96);
              height:r(116);
              margin-bottom:r(10);
              //margin-right: r(8);
              img {
                display: block;
                width:100%;
                height:100%;
                max-width: 100%;
                border-radius:8px;
                object-fit:cover;

              }
            }
            .more-pic-type:nth-child(3n){
              margin-right:0;

            }
            .more-pic-type:after {
              content:'';
              position:absolute;
              top:0;
              left:0;
              height:200%;
              width:200%;
              border:1px solid #E1E1E1;
              transform-origin:0 0;
              transform:scale(0.5,0.5);
              border-radius: 16px;
              box-sizing:border-box;
            }
          }
          .vidio-img {
            position: relative;
            width: r(305);
            height:r(240);
            margin:0 auto 10px;
            video {
              width:100%;
              height:100%;
              source {
                width:100%;
                height:100%;
              }
            }
            img {
              display: block;
              width: 100%;
              height:100%;
              max-width: 100%;
              border-radius: 8px;
            }
          }
          .share-btn {
            float: right;
            padding:10px 0 23px;
            .download-icon {
              display: inline-block;
              margin-right:r(25);
              color: #7D7D7D;
              vertical-align: middle;
              i {
                display: inline-block;
                width: r(14);
                height:r(14);
                background: url(//9i.dvmama.com/free/2018/05/09/download_icon.png) no-repeat right center;
                background-size: r(14) r(14);
                vertical-align: middle;
                margin-right: 4px;
              }
            }
            .share-icon {
              display: inline-block;
              color: #7D7D7D;
              line-height: r(18);
              vertical-align: middle;
              i {
                display: inline-block;
                width: r(14);
                height:r(14);
                background: url(//9i.dvmama.com/free/2018/05/09/share_material_icon.png) no-repeat right center;
                background-size: r(14) r(14);
                vertical-align: middle;
                margin-right: 4px;
              }
            }
          }
        }

      }
    }
    .title-message {
      width:100%;
      margin-bottom: 15px;
      div {
        padding:25px 35px;
        background: #fff;
        border-radius: r(8);
        span:first-child{
          font-weight: 500;
        }
      }
      h3 {
        font-size: r(15);
        color: #333;
        font-weight: normal;
        text-align:center;
        margin-bottom: 13px;
      }
      p {
        font-size:r(14);
        color: #666;
        line-height: r(22);
      }
      a {
        display:block;
        font-size:r(13);
        color: #666;
        line-height: r(22);
        text-decoration:underline;
        margin-bottom:26px;
      }
    }
  }

  /*大图预览*/
  .preview-big-picture {
    width: 100%;
    height:100%;
    //height: r(667);
    background: #ffffff;
    opacity: 0.95;
    position: fixed;
    top: 0;
    left: 0;
    right:0;
    z-index: 200;
    opacity: 1;
    margin:auto;
    max-width: 640px;
    .preview-pic {
      .pic {
        width: 345px;
        height: 453px;
        line-height:21px;
        margin:r(50) auto 0;
        box-shadow: 0px 4px 8px 5px #F4F4F4;
        img {
          display: block;
          width:100%;
          height:100%;
          max-width: 100%;
          object-fit:cover;
        }
      }
    }
    .preview-video {
      padding: 50px 33px 0;
      .video-content {
        line-height: 23px;
        font-size: 14px;
        color: #333333;
      }
      span {
        display: inline-block;
        line-height: 23px;
        margin-top: 10px;
        margin-bottom: 10px;
      }
      .video-link {
        padding: 9px 15px 13px;
        line-height: 18px;
        /*height:r(60);*/
        background:#F1F1F1;
        color: #848484;
        font-size: 13px;
        margin:0 auto;
      }
    }
    .preview-more-pic {
      padding:r(50) 0 0;
      p {
        padding:0 r(33);
      }
      .swiper-preview-container {
        padding-left: r(33);
      }
      .pic-content {
        padding:0 33px;
        line-height: 23px;
        font-size: 14px;
        color: #333333;
        margin-bottom: 21px;
      }
      .pre-pic {
        /*width:r(242);*/
        width:100%;
        /*height:301px;*/
        img {
          display: block;
          max-width: 100%;
          width:100%;
          height:100%;
          max-height: 301px;
          object-fit:cover;
          border-radius: 8px;
          border:1px solid #E1E1E1;
          box-sizing: border-box;
        }
      }

    }
    .text {
      color: #666;
      font-size: 14px;
      margin: 19px 0 11px;
      text-align: center;
    }
    .text-cont {
      font-size: 11px;
      color: #999;
      text-align: center;
    }
  }
  @media screen and (max-width: 375px) {
    .preview-big-picture {
      overflow-y: scroll !important;
    }
    .text-cont {
      margin-bottom: 15px;
    }
  }
  .swiper-slide-pl {
    width:242px !important;
    margin-right: 20px;
    height:301px;
  }
  .close-preview {
    position: absolute;
    right:33px;
    top:12px;
    width:20px;
    height:20px;
    background: url(//9i.dvmama.com/free/2018/05/09/wx_close_icon.png)no-repeat center;
    background-size:20px;
  }
  .close-preview-first {
    right:r(20);
  }

}
