@import "../../../common/css/util";
// 页面红色部分
$red: #FF4A7D;
body {
  color: #333;
  background-color: #f5f5f5;
}
.app {
  line-height: 1.5;
  // 提示
  .tip {
    padding: r(1);
    background: #FFEEC6;
    color: $red;
    font-size: r(12);
  }

  // 广告
  .group_ad {
    font-size: 0;
    .adPic {
      width: 100%;
      max-height: r(200);
      object-fit: cover;
    }
  }

  // tab按钮
  .tab-btn {
    display: flex;
    background: #fff;
    .btn {
      flex: 1;
      text-align: center;
      font-size: r(14);
      cursor: pointer;
      .word {
        display: inline-block;
        box-sizing: border-box;
        padding: 0 r(02);
        height: r(40);
        line-height: r(40);
        border-bottom: 2px solid transparent;
      }
      &.active {
        .word {
          color: $red;
          border-color: $red;
        }
      }
    }
    .btn-split {
      border-left: 1px solid #EEEEEE;
      display: inline-block;
      margin-top: r(09);
      height: r(24);
    }
  }

  .no-goods {
    text-align: center;
    padding-top: r(100);
    font-size: r(14);
    a {
      border: 1px solid #FF4A7D;
      border-radius: 3px;
      color: #FF4A7D;
      padding: r(5) r(5);
    }
  }

  // 浮动广告
  .float-act {
    position: fixed;
    z-index: 1;
    bottom: r(50);
    margin-left: r(10);
    img {
      width: r(70);
      height: r(70);
    }
  }
  /* 安卓hack */
  &.android {

  }
}
