<!DOCTYPE html>
<html>
<head>
  <title>加入群聊</title>
  @@include('node_modules/dvd-base-build/html-inc/head.inc')
  <!--<link rel="stylesheet" href="[[vendor]]/swiper/swiper-3.3.1.min.css">-->
  <link rel="stylesheet" href="[[static]]/common/css/common.css[[v]]">
  <link rel="stylesheet" href="[[static]]/page/wechat_flock_enter/css/wechat_flock_enter.css[[v]]">
</head>
<body>
<div class="app" v-cloak
     :class="{native: ua.isDvdApp(), android: ua.isAndroid(), ios: ua.isIos()}"
     :style="{minHeight: document.documentElement.clientHeight - 44 + 'px'}">
  <!--标题-->
  <dvd-service-com-title title="加入群聊" back></dvd-service-com-title>


  <dvd-service-com-go-page-top></dvd-service-com-go-page-top>
  <div class="we-title" v-if='showError'>
    <img class="we-icon"
         :src="icon"/>
    <span class="we-name">{{name}}</span>
  </div>

  <div class="we-qrcode-parent2" v-if='showError'>
    <img class="we-qrcode2" :src="qrCodeUrl">
  </div>

  <div class="we-qrcode-parent" v-if='!showError'>
    <img class="we-qrcode" :src="qrCodeUrl">
  </div>

  <div class="we-tip-parent" v-if='!showError'>
    <span class="tip">长按识别二维码进群</span>
  </div>
</div>

@@include('node_modules/dvd-base-build/html-inc/body.inc')
<!--<script src="[[vendor]]/swiper/swiper-3.3.1.jquery.min.js"></script>-->
<script src="[[static]]/common/js/common.js[[v]]"></script>
<script src="[[static]]/page/wechat_flock_enter/js/wechat_flock_enter.js[[v]]"></script>
</body>
</html>
