@import "../../../common/css/util";
// 页面红色部分
$red: #FF4A7D;
.app {
  //background: white;
  padding-bottom: r(50);
  line-height: 1.5;

  // 商品信息
  .goods-info {
    padding: r(10);
    background: #fff;
    .pic {
      position: relative;
      text-align: center;
      font-size: 0;
      > img {
        height: 3rem;
        max-width: 100%;
      }
      .sold-out {
        @include center;
        @include circle(r(90));
        background: rgba(0, 0, 0, 0.5);
        color: white;
        font-size: 0;
        line-height: 1;
        text-align: center;
        .top{
          position: absolute;
          top: r(22);
          width: 100%;
          font-size: r(18);
        }
        .split-line{
          margin: r(50) auto;
          width: r(70);
          border-top: 1px solid white;
          transform: translateY(0.5);
        }
        .bottom{
          position: absolute;
          top: r(58);
          width: 100%;
          font-size: r(12);
        }
      }
      .box-info {
        position: absolute;
        bottom: 0;
        left: 0;
        display: inline-block;
        border: 1px solid $red;
        border-top-left-radius: r(04);
        border-top-right-radius: r(04);
        font-size: r(12);
        background: white;
        .num {
          color: $red;
        }
        .privilege {
          padding: 0 r(02);
          min-width: r(50);
          background: $red;
          color: #fff;
        }
      }
    }
    .desc {
      margin-top: r(10);
      font-size: r(14);
      @include ellipsis(2);
    }
    .info {
      margin-top: r(10);
      @include clearfix;
      @include ellipsis;
      .group-price {
        color: $red;
        font-size: r(13);
        .num {
          margin-left: r(04);
          font-size: r(20);
          font-weight: bold;
        }
      }
      .price {
        color: #999999;
        font-size: r(12);
      }
      .post {
        position: relative;
        top: r(-01);
        margin-left: r(04);
        padding: 0 r(06);
        border: 1px solid $red;
        border-radius: r(07);
        color: $red;
        font-size: r(10);
      }
      .income {
        float: right;
        position: relative;
        right: r(1);
        top: r(06);
        font-size: r(12);
        color: #666666;
        .times {
          margin-left: r(04);
          color: $red;
        }
      }
    }
  }

  // 规格信息
  .ui-param {
    width: r(355);
    height: r(19);
    margin-top:r(10);
    padding: r(12.5) r(10) r(12.5) r(10);
    background: #ffffff;
    font-size:r(0);
    div{
      font-size:r(14);
      height:r(19);
      line-height:r(19);
      text-align: left;
      display:inline-block;
    }
    div:nth-child(1){
      width: r(70);
    }
    div:nth-child(2){
      width:r(255);
      padding-right: r(15);
    }
    div:nth-child(3){
      width:r(8);
      height:r(14);
      position: relative;
      top: r(3);
    }
  }

  // 团购信息
  .group-info {
    margin: r(10) 0;
    padding: r(10);
    background: #fff;
    overflow: hidden;
    .tip {
      font-size: r(12);
      color: #666;
    }
    /*ul.groups {
      margin-bottom: r(20);
      li {
        margin: r(10) 0;
        @include height(r(40));
        border: 1px solid $red;
        border-radius: r(20);
        font-size: 0;
        cursor: pointer;
        a > * {
          display: inline-block;
          vertical-align: middle;
        }
        .head {
          height: r(36);
          width: r(36);
          border-radius: 50%;
          margin-left: r(2);
        }
        .nickname {
          margin-left: r(10);
          width: r(100);
          @include ellipsis;
          font-size: r(12);
        }
        .remain-place {
          float: right;
          width: r(90);
          font-size: r(14);
          color: #666;
          @include ellipsis;
          text-align: right;
          margin-right: r(10);
          .num {
            color: $red;
          }
        }
        .go-group {
          float: right;
          margin-right: -1px;
          width: r(80);
          height: r(40);
          border-top-right-radius: r(20);
          border-bottom-right-radius: r(20);
          text-align: center;
          color: white;
          font-size: r(14);
          background: linear-gradient(to right, #F9535A, #FA1862);
        }
      }
    }*/
    .groups-wrapper{
      position: relative;
      margin-bottom: r(5);
    }
    .time-over{
      margin-bottom: r(1);
      color: #666;
    }
    ul.groups {
      position: absolute;
      margin-bottom: r(20) / 2;
      transform: scale(0.5);
      transform-origin: left top;
      width: 100% *2;
      li {
        margin: r(10)*2 0;
        @include height(r(40)*2);
        border: 1px solid $red;
        border-radius: r(20)*2;
        font-size: 0;
        cursor: pointer;
        a > * {
          display: inline-block;
          vertical-align: middle;
        }
        .head {
          height: r(36)*2;
          width: r(36)*2;
          border-radius: 50%;
          margin-left: r(2)*2;
        }
        .nickname {
          margin-left: r(10)*2;
          width: r(100)*2;
          @include ellipsis;
          font-size: r(12)*2;
        }
        .remain-place {
          float: right;
          width: r(90)*2;
          font-size: r(14)*2;
          color: #666;
          @include ellipsis;
          text-align: right;
          margin-right: r(10)*2;
          .num {
            color: $red;
          }
        }
        .go-group {
          float: right;
          margin-right: -1px;
          width: r(80)*2;
          height: r(40)*2;
          border-top-right-radius: r(20)*2;
          border-bottom-right-radius: r(20)*2;
          text-align: center;
          color: white;
          font-size: r(14)*2;
          background: linear-gradient(to right, #F9535A, #FA1862);
        }
      }
    }
  }

  // tab按钮
  .tab-btn {
    display: flex;
    background: #fff;
    .btn {
      flex: 1;
      text-align: center;
      font-size: r(14);
      cursor: pointer;
      .word {
        display: inline-block;
        box-sizing: border-box;
        padding: 0 r(02);
        @include height(r(44));
        border-bottom: 2px solid transparent;
      }
      &.active {
        .word {
          color: $red;
          border-color: $red;
        }
      }
    }
    .btn-split {
      border-left: 1px solid #EEEEEE;
      display: inline-block;
      margin-top: r(44 - 24) / 2;
      height: r(24);
    }
  }

  .goods-detail, .act-rule {
    font-size: r(12);
    overflow: hidden;
    img {
      width: 100%;
      vertical-align: middle;
      &:first-of-type{
        margin-top: -1px;
      }
    }
  }

  .split-line {
    border-top: 1px solid #E1E1E1;
    transform: scaleY(0.5);
  }
  /* 安卓hack */
  &.android {

  }
}
