//@import "../../../common/css/util/all.scss";
@import "../../../common/css/util";
@import "../../../common/css/common";

// 文字颜色
$color-red: #FF4A7D;

body {
  //background: #F7F7F7;
  background: #f0f0f0;
}

.center {
  position: relative;
  color: #666;
  font-size: r(12);
  line-height: r(17);
  box-sizing: border-box;
  //padding-top: 44px;
  //padding-bottom: r(100);
  padding-bottom: 50px;

  // 个人信息
  // 背景图原始比例176 X 68
  .g-info {
    position: relative;
    height: r(125);
    background: url([[static]]/page/center/img/default-shop-bg.jpg) no-repeat center;
    background-size: cover;

    .mask {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.2);
    }

    .setting {
      position: absolute;
      top: r(11);
      left: r(15);

      @include square(r(19));
    }

    .personal {
      position: absolute;
      bottom: 0.16rem;
      padding: 0 r(20);
      box-sizing: border-box;
      width: 100%;

      .head {
        @include circle(r(60));

        vertical-align: middle;
        box-shadow: 0 0 1px rgba(0, 0, 0, 0.2);
      }

      .info {
        display: inline-block;
        margin-left: r(10);
        vertical-align: middle;

        .nickname {
          //margin-top: -0.03rem;
          color: white;
          font-size: r(14);
          line-height: r(20);
        }

        .level {
          margin-top: r(10);
          height: r(22);

          .pic {
            height: r(14);
          }
        }
      }

      .vip-icon {
        color: #fff;
        position: absolute;
        top: 0.05rem;
        width: 0.62rem;
        height: 0.2rem;
        border-radius: 0.85rem;
        font-size: 0.1rem;
        font-weight: 300;
        text-align: center;
        line-height: 0.2rem;

        img {
          width: 100%;
        }
      }

      .info_center {
        position: relative;
        top: 0.15rem;
      }

      .info_center2 {
        position: relative;
        top: 0.01rem;
      }

      .sinple-user {
        background: none;
        border: 1px solid #fff;
        box-sizing: border-box;
      }

      .vip_deadline {
        font-size: 0.12rem;
        line-height: 0.17rem;
        color: #fff;
        position: absolute;
        right: 0.2rem;
        bottom: 0.1rem;
      }
    }
  }

  .g-feed {
    // 分割线
    .split-line-h {
      margin: 0 r(10);
      border-top: 1px solid rgba(0, 0, 0, 0.1);
      transform: scaleY(0.5);
    }

    // 标题
    .title {
      background: white;

      .btns {
        display: flex;
        padding: r(10);
        line-height: r(20);

        .name {
          flex: 1;
          display: block;
          font-size: r(14);
          text-align: left;
        }

        .more {
          font-size: r(12);
          color: #999;

          .arrow {
            position: relative;
            top: r(2.5);
            height: r(14);
          }
        }
      }
    }

    // 订单
    .body-order {
      background: white;
      // 订单按钮、功能按钮
      .btns {
        display: flex;
        padding: 0.2rem 0 0.15rem 0;

        .btn {
          flex: 1;
          display: block;
          text-align: center;

          .pic {
            position: relative;
            //margin-top: r(20);
            display: inline-block;

            img {
              height: r(29);
              vertical-align: middle;
            }

            .num {
              position: absolute;
              top: r(-7);
              left: 55%;
              font-size: r(10);
              color: $color-red;
              display: inline-block;

              @include height(r(14));

              min-width: r(10);
              padding: 0 r(2);
              border: 1px solid $color-red;
              border-radius: r(10);
              background: white;
              white-space: nowrap;
              font-style: normal;
            }
          }

          .name {
            //margin: r(0) 0 r(15) 0;
            font-size: r(12);
            color: #666;

            @include height(r(17));
          }
        }
      }
    }

    // 我的奖励
    .body-prize {
      background: white;

      .btns {
        padding: r(14) 0;
        //display: flex;

        .btn {
          //flex: 1;
          width: 32%;
          display: inline-block;
          text-align: center;

          .num {
            position: relative;
            display: inline-block;
            color: $color-red;
            font-size: r(20);

            @include height(r(28));
            @include ellipsis;

            overflow: visible;

            .point {
              position: absolute;
              top: r(5);
              right: r(-7);

              @include circle(r(7));

              background: #ff4a7d;
            }

            .unit {
              font-size: r(12);
            }
          }

          .name {
            @include ellipsis;
          }
        }

        .split-line-v {
          margin-top: r(8);
          height: r(29);
          border-right: 1px solid #f0f0f0;
          display: inline-block;
          //transform: scaleX(0.5);
        }
      }
    }

    // 菜单
    .body-menu {
      background: white;

      .btns {
        display: flex;
        padding: r(18) 0;
        background: white;

        .btn {
          width: 25%;
          //height: r(64);
          text-align: center;

          &:not(:nth-of-type(4n)) {
            border-right: 1px solid #f0f0f0;
          }

          .pic {
            //margin-top: r(10);
            //height: r(22);
            height: r(28);
          }

          .name {
            //margin-top: r(5);
          }
        }
      }
    }

    // 单图模版
    .body-image-odd {
      background: white;

      a {
        line-height: 0;
      }

      img {
        //height: r(70);
      }
    }

    //标题模版
    .body-title {
      width: 100%;
      position: relative;

      div {
        position: absolute;
        top: 0;
        padding: 0 0.2rem;
        left: 0;
        height: 100%;
        width: 100%;
        display: table;
        box-sizing: border-box;

        .body-title-banner {
          display: table-cell;
          vertical-align: middle;
          line-height: 0.15rem;
        }
      }

      .body-title-left {
        text-align: left;
      }

      .body-title-center {
        text-align: center;
      }

      .body-title-right {
        text-align: right;
      }
    }

    //图片模版
    .body-swiper-img {
      padding: 0.1rem 0.2rem;
      box-sizing: border-box;
      background: #fff;
      height: 1rem;

      .swiper-container {
        .swiper-wrapper {
          display: flex;

          .swiper-slide {
            img {
              width: 100%;
              height: 100%;
            }
          }
        }
      }
    }

    .swiper-slide:last-child {
      margin-right: 0 !important;
    }

    .body-swiper-img-text {
      padding: 0.15rem 0.2rem;
      box-sizing: border-box;
      background: #fff;
      height: 0.9rem;

      .swiper-container {
        .swiper-wrapper {
          .swiper-slide {
            .top-img {
              height: 0.36rem;
              text-align: center;

              img {
                height: 0.36rem;
                width: 0.36rem;
              }
            }

            .text {
              height: 0.24rem;
              line-height: 0.24rem;
              text-align: center;
              width: 100%;
            }
          }
        }
      }
    }
  }

  // 引导浮层
  .g-guide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);

    .next-btn {
      position: fixed;
      margin-left: r(128);
      bottom: r(60);

      @include height(r(40));

      width: r(120);
      border-radius: r(20);
      background-image: linear-gradient(-90deg, #ff7c7c 1%, #ff6a8b 100%);
      font-size: r(14);
      color: white;
      text-align: center;
      z-index: 1;
    }

    .guide-1 {
      .pic-tip {
        margin-top: r(77);
        margin-left: r(90);
        width: r(156);
        position: relative;
        z-index: 1;
      }
    }

    .guide-2 {
      .pic-tip {
        margin-top: r(165);
        margin-left: r(29);
        width: r(242);
        position: relative;
        z-index: 1;
      }
    }

    .guide-3 {
      .pic-tip {
        position: relative;
        margin-top: r(218);
        margin-left: r(115);
        width: r(159);
        z-index: 1;
      }

      .next-btn {
        &.iphone4 {
          top: r(152);
        }
      }
    }
  }

  // 引导目标元素(设置高亮)
  .g-guide-target-1 {
    position: relative;
    z-index: 1;
  }

  .g-guide-target-2 {
    position: relative;
    z-index: 1;

    .name {
      color: white !important;
    }
  }

  .g-guide-target-3 {
    position: relative;
    z-index: 1;
  }
}

