<!DOCTYPE html>
<html>
<head>
  <title>领取养家大礼包抵用券</title>
  @@include('node_modules/dvd-base-build/html-inc/head.inc')
  <!--<link rel="stylesheet" href="[[vendor]]/swiper/swiper-3.3.1.min.css">-->
  <link rel="stylesheet" href="[[static]]/common/css/common.css[[v]]">
  <link rel="stylesheet" href="[[static]]/page/receive_member_voucher/css/receive_member_voucher.css[[v]]">
</head>
<body>
  <div class="app" v-cloak v-if="ticketData"
     :class="{native: ua.isDvdApp(), android: ua.isAndroid(), ios: ua.isIos()}"
     :style="{minHeight: document.documentElement.clientHeight - 44 + 'px'}">
    <!--标题-->
    <dvd-service-com-title title="领取养家大礼包抵用券" back></dvd-service-com-title>
    <div class="content" v-if="ticketData.exists">
      <header>{{ticketData.owner}}赠送你一个<span>{{ticketData.voucherValue}}元</span>抵用券</header>
      <main>
        <div class="price"><span>¥</span>{{ticketData.voucherValue}}</div>
        <div class="info">
          <span>加入养家计划</span>
          <time>{{ticketData.startDate | formatDate}}-{{ticketData.endDate | formatDate}}</time>
        </div>
        <div class="desc">{{ticketData.voucherIntro}}</div>
        <p class="share-info" v-if="tag">点击右上角分享 把券赠送给好友</p>
        <h4 class="title" v-if="!tag">请填写你的手机号</h4>
        <input type="tel" v-if="!tag" class="phone-input" v-model.trim="phone">
        <p class="input-tip" v-if="!tag">(一经确定不可更改，请小心填写)</p>
        <div class="btn" v-if="!tag" @click="reveive">立即领取</div>
      </main>
    </div>
    <div v-if="!ticketData.exists" class="received">
      <!-- <img src="http://pic.davdian.com/free/2018/05/09/received.png" alt=""> -->
      <img src="http://9i.dvmama.com/free/Pictures/contacts_card_Coupon.png" alt="">
      <p class="received-num"><span class="icon">￥</span><span class="num">{{ticketData.voucherValue}}</span></p>
    </div>

    <!--返回顶部-->
    <!--<dvd-service-com-go-page-top></dvd-service-com-go-page-top>-->
  </div>

  @@include('node_modules/dvd-base-build/html-inc/body.inc')
  <!--<script src="[[vendor]]/swiper/swiper-3.3.1.jquery.min.js"></script>-->
  <script src="[[static]]/common/js/common.js[[v]]"></script>
  <script src="[[static]]/page/receive_member_voucher/js/receive_member_voucher.js[[v]]"></script>
</body>
</html>
